/* Extra Variables */
body {
    --background-secondary: transparent;
    --background-primary: transparent;
    --background-floating: #0e0e0e;
    --background-tertiary: var(--dusk-background-1);

    --dusk-background-1: #121212;
    --dusk-background-2: #0d0d0d;
    --dusk-activate: hsla(0, 0%, 15%, .25) !important;

    --selected: #353535;
    --chat-scrollbar-width: 12px;
    --scrollbar-thumb: #666;
    --scrollbar-thumb-hover: #aaa7a7;
    --settings-blurple: #5f5f5f;
    --speaking-ring: hsla(0, 0%, 93%, 0.75);
    --mentioned-before: rgba(95, 95, 95, 1);
    --mentioned: rgba(95, 95, 95, 0.1);
    --mentioned-hover: rgba(95, 95, 95, 0.2);

    --scrollbar-thin-thumb: var(--scrollbar-thumb);
    --scrollbar-auto-thumb: var(--scrollbar-thumb);
    --scrollbar-auto-track: transparent;

    --background-modifier-selected: var(--dusk-activate);

    --button-border-color: hsla(240, 4%, 89%, 0.63);
    --button-text: hsla(240, 4%, 89%, 0.63);
    --button-border-hover: hsl(240, 4%, 89%);
    --button-text-hover: hsl(240, 4%, 89%);
    --button-bg-hover: transparent;
}

[class*="layerContainer_"] {
    --background-secondary: var(--dusk-background-2);
    --background-secondary-alt: var(--dusk-background-1);
    --background-modifier-selected: var(--dusk-background-1);
}

/* Chat */
[class*="chat__"] {
    background-color: var(--dm-chat-bg);
}

[class*="channelTextArea_"] > div {
    background-color: #171717;
}

/* Embeds */
[class*="embedFull_"] {
    background-color: var(--dusk-background-2);
}

/* Auto Complete */
[class*="autocomplete_"] {
    background-color: var(--dusk-background-1) !important;
}

[class*="autocompleteRow_"][aria-disabled=false] > div:hover,
[class*="autocompleteRow_"][aria-selected=true] > div {
    background-color: var(--dusk-activate);
}

/* Code */
code {
    background-color: var(--dusk-background-1) !important;
}

/* Members */
:has(> [class*="membersWrap"]) {
    background: var(--dusk-background-2);
}

[class*="member_"]:hover > div {
    background-color: var(--dusk-activate);
}

/* Channels Sidebar */
[class*="sidebar_"] {
    background-color: var(--dusk-background-2);
}

section[class*="panels"] [class*="container"] {
    background-color: var(--dusk-background-1) !important;
}

/* Channels Selected */
[class*="wrapper_"]:hover [class*="link_"] {
    background-color: var(--dusk-activate);
    transition: .1s cubic-bezier(0.53, 0.07, 0.78, 1.06);
}

/* Friends tab */
section[class*="themed_"] {
    background-color: var(--dm-chat-bg) !important;
}

[class*="nowPlayingColumn_"] [class*="inset_"] {
    background-color: var(--dusk-background-1) !important;
}

section[class*="themed_"] [class*="children_"]:after {
    background: linear-gradient(to right, rgba(54, 57, 63, 0) 0%, var(--dm-chat-bg) 100%) !important;
}

/* Guilds */
nav[class*="guilds_"] {
    background-color: var(--dusk-background-1);
}

[class*="expandedFolderBackground_"] {
    background-color: var(--dusk-activate)
}

/* Settings */
[class*="standardSidebarView_"] {
    background-color: var(--dusk-background-2);
}

[class*="contentRegion_"] {
    background-color: var(--dusk-background-1);
    --background-tertiary: var(--dusk-background-2);
}

[class*="side_"] [class*="themed_"]:hover {
    background-color: var(--dusk-activate) !important;
}

[class*="cardPrimary_"] {
    background-color: var(--dusk-background-2) !important;
}

/* Mention Badge */
[class*="numberBadge_"] {
    background-color: #f04747;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .25), inset 0 1px 0 hsla(0, 0%, 100%, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25), inset 0 1px 0 hsla(0, 0%, 100%, .15);
    line-height: 14px;
    font-weight: 500;
    padding: 2px 2px !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}

/* search */
[class*="search_"] > [class*="searchBar_"] {
    background-color: var(--dusk-activate);
}

/* emoji layer */
[class*="expressionPickerPositionLayer_"] [class*="contentWrapper_"] {
    background-color: var(--background-floating);
}

/* Old Settings Modal, originally created by Zerebos */
.layers_d4b6c5 {
    align-items: center;
    justify-content: center;
}

.layers_d4b6c5 > div:first-child {
    opacity: 1 !important;
    transform: none !important;
}

.layers_d4b6c5 > .stop-animations:first-child {
    z-index: 1;
    transition: 250ms ease-in;
}

.layers_d4b6c5 > div:nth-child(2)::before {
    content: "";
    position: absolute;
    top: -15%; 
    left: -40%;
    padding: 15% 40%;
    background: black;
    z-index: 2;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    transition: opacity 350ms ease;
}

.layers_d4b6c5 > div:nth-child(2) {
    width: 60%;
    height: 85%;
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    display: block;
    overflow: visible;
    transform: translateZ(0);
    z-index: 3;
}
